<h1><%= @story.title %> <small>by <%= @story.user.name %></small></h1>

<p class="lead"><%= @story.description %></p>

<br />

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-9">
      <p><%= post.body %></p>
      <br />
    </div>
    <div class="col-md-3">
      <p><%= post.updated_at %></p>
    </div>
  </div>
<% end %>